<div class="table-area">
    <table mat-table [dataSource]="list">

        <ng-container matColumnDef="sigla">
            <th mat-header-cell *matHeaderCellDef> Sigla </th>
            <td mat-cell *matCellDef="let element"> {{element.regionCode}} </td>
        </ng-container>

        <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Código de Agente </th>
            <td mat-cell *matCellDef="let element"> {{element.agente.codigo}} </td>
        </ng-container>

        <ng-container matColumnDef="compra">
            <th mat-header-cell *matHeaderCellDef> Compra </th>
            <td mat-cell *matCellDef="let element"> {{element.compra}} </td>
        </ng-container>

        <ng-container matColumnDef="geracao">
            <th mat-header-cell *matHeaderCellDef> Geração </th>
            <td mat-cell *matCellDef="let element"> {{element.geracao}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>